<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Employee Manager - EmMa</title>
<link href="/EmMa/WEB-INF/main.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
	<div id="main">
		<div id="header">EmMa - Employee Manager</div>

		<div id="flexbox1">
			<div id="newEmployee">
				<div id="newEmployeeContent">
					<p><i class="fa fa-user-plus fa-4x"></p></i>new Employee
				</div>
			</div>
			<div id="calendar">
				<div id="calendarContent">
					<p><i class="fa fa-calendar fa-4x"></p></i>Calendar
				</div>
			</div>
		</div>
		<div id="flexbox2">
			<div id="deleteEmployee">
				<div id="deleteEmployeeContent">
					<p><i class="fa fa-trash-o fa-4x"></p></i> delete Employee
				</div>
			</div>
			<div id="teams">
				<div id="teamsContent">
					<p><i class="fa fa-users fa-4x"></p></i> Teams
				</div>
			</div>
		</div>
	</div>
</body>
